<template>
	<div>
		<div>组件模板</div>
		<div><%= msg %></div>
	</div>
</template>

<script>
	export default {
		name: "TestComponent",
		data() {
			return {};
		},
		methods: {},
	};
</script>
<style scoped></style>
